*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* width: 100vh; */
  padding-inline:1rem;
  background-color: var(--neutral-very-dark-blue-main-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid red;
}